doctype html 
html
    head 
        title Play a ticket
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/global.css")
    body 
        .container.mt-5
            if current_round.is_active
                h1.mb-4 Uplati listić za kolo
                .box.w-50
                    form(id="form" action="/ticket-submit" method="POST")
                        h4.mb-4 Uplata za kolo br. #{current_round.id}:
                        .form-group.mb-3
                            label(for="document_no") Broj osobne iskaznice ili putovnice: 
                            input.form-control(type="text" name="document_no" id="document_no" required)
                        .form-group.mb-3
                            label(for="numbers") Unesite brojeve međusobno odvojene zarezom: 
                            input.form-control(type="text" name="numbers" id="numbers" required)    
                        button.btn.btn-custom(type="submit") Odigraj 
            else 
                h1 Uplata listića trenutno nije moguća
        script(src="/js/validate-form.js")          